.card{
  margin-left: 200px;
  margin-right: 200px;
}
#recipe-detail-image{
  display: block;
  width: 50%;
  margin-left:auto;
  margin-right: auto;
}
.footer{
  position: fixed;
  bottom: 0;
  background-color: grey;
  width: 100%;
}
.featured-header{
  text-align: center;
}
.recent-header{
  text-align: center;
}
.carousel-caption{
  background-color: grey;
  border-radius: 20px;
  width: 75%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.recipe-title{
  text-align: center;
}
