{% extends "base.html" %}

{% block title %}Recipe Site{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>Welcome to Recipe Site!</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 class="featured-header">Featured Recipes</h3>
    <div id="Featured_Controls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for recipe in featured %}
          {% if recipe == featured.0 %}
          <div class="carousel-item active">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}"><img src="{{recipe.food_pic.url}}" class="d-block w-100" alt="ImageHere"></a>
            <div class="carousel-caption d-none d-md-block">
            <h5>{{recipe.title}}</h5>
            <p>{{recipe.description|truncatechars:50}}</p>
          </div>
          </div>
          {% else %}
          <div class="carousel-item">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}"><img src="{{recipe.food_pic.url}}" class="d-block w-100" alt="ImageHere"></a>
            <div class="carousel-caption d-none d-md-block">
            <h5>{{recipe.title}}</h5>
            <p>{{recipe.description|truncatechars:50}}</p>
          </div>
          </div>
          {% endif %}
          {% empty %}
          <p>No currently featured recipes!</p>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#Featured_Controls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#Featured_Controls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="recent-header">Recent Recipes</h3>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        {% for recipe in recent_five %}
          {% if recipe == recent_five.0 %}
          <div class="carousel-item active">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}"><img src="{{recipe.food_pic.url}}" class="d-block w-100" alt="ImageHere"></a>
            <div class="carousel-caption d-none d-md-block">
            <h5>{{recipe.title}}</h5>
            <p>{{recipe.description|truncatechars:50}}</p>
          </div>
          </div>
          {% else %}
          <div class="carousel-item">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}"><img src="{{recipe.food_pic.url}}" class="d-block w-100" alt="ImageHere"></a>
            <div class="carousel-caption d-none d-md-block">
            <h5>{{recipe.title}}</h5>
            <p>{{recipe.description|truncatechars:50}}</p>
          </div>
          </div>
          {% endif %}
          {% empty %}
          <p>No recent recipes!</p>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</div>
{% endblock %}
