{% extends "base.html" %}
{% block title %}{{recipe.title}}{% endblock %}

{% block content %}
<div class="jumbotron">
  <img class='recipe-detail-image' src="{{object.food_pic.url}}" alt="">
  <h1>{{object.title}}</h1>
  <p>Recipe by: <a href="{% url 'user_profile' slug=object.author.slug %}">{{object.author}}</a></p>
  <p>Description: {{object.description}}</p>
  <p>Prep Time: {{object.prep_time}}</p>
  <p>Cook Time: {{object.cook_time}}</p>
  <p>Ingredients: {{object.ingredients}}</p>
  <p>Instructions: {{object.instructions}}</p>
</div>
  <a href="{% url 'recipe_favorite' slug=object.slug %}">Favorite</a>
{% endblock %}
